@tailwind base;
@tailwind components;
@tailwind utilities;
/* حالت پیش‌فرض */
body {
    transition: background 0.5s, color 0.5s;
}

/* حالت دارک مود */
body.dark {
    background: linear-gradient(to right, #1a202c, #2d3748, #4a5568);
    color: #f7fafc;
}

/* تغییرات در کارت اطلاعات در دارک مود */
body.dark #system-info {
    background: linear-gradient(to bottom, #2d3748, #1a202c);
    color: #f7fafc;
}

/* دکمه آیکون در حالت دارک مود */
body.dark #toggle-dark-mode {
    background: #2d3748;
    color: #f7fafc;
}
